<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supergenieapp.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="com.supergenieapp.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.supergenieapp.android.permission.MAPS_RECEIVE" />

    <application
        android:name=".GenieApplication"
        android:allowBackup="true"
        android:icon="@drawable/supergenie_512"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKq3vK3ugt7_Guk7a1uIdygRoHefAB_bM" />

        <activity
            android:name=".Activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialThemeWithToolBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMHelpers.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCMHelpers.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".GCMHelpers.UpdateIntentService"
            android:exported="false" />
        <service
            android:name=".GCMHelpers.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialThemeWithToolBar" />
        <activity
            android:name=".Activities.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialThemeWithToolBar" />
        <activity
            android:name=".Activities.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialThemeWithToolBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.BaseActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Slides.WalkThroughActivity"
            android:label="@string/title_activity_walk_through"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.EULAActivity"
            android:label="@string/termsandconditions"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyMaterialThemeWithToolBar" />
    </application>

</manifest>
